<li class="aimeli">
    <label class="aimeSum">
        <span class="roboto-upper label">{{ localize 'AIME.LivingStandard' }}</span>
        {{#if @root.editable}}
        <input type="text" name="flags.aime.details.livingStandard" value="{{actor.flags.aime.details.livingStandard}}" placeholder="{{ localize 'AIME.LivingStandard' }}"/>
        {{else}}
        <span class="value">{{ actor.flags.aime.details.livingStandard }}</span>
        {{/if}}
    </label>
</li>
