{{!-- <span contenteditable="true" data-target="{{actor._id}}-livingStandard" data-placeholder="{{ localize 'AIME.LivingStandard' }}">{{system.details.livingStandard}}</span>
<input type="hidden" data-input="{{actor._id}}-livingStandard" name="system.details.livingStandard" value="{{system.details.livingStandard}}" placeholder="{{ localize 'AIME.LivingStandard' }}"> --}}
<span class="aimeTidyInput">
<input type="text" name="system.details.livingStandard" value="{{system.details.livingStandard}}" placeholder="{{ localize 'AIME.LivingStandard' }}"/>
</span>
